@import "../config.scss";

.slider {
  width: 100vw;
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .bgOverlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 3;
    background: linear-gradient(to right top, #f38f6877, #5ddac117);
  }

  .heroBox {
    margin-top: 35vh;
    position: absolute;
    z-index: 4;
    row-gap: 10px;
    margin-left: 4vw;
    width: 50vw;
    height: 55vh;
    display: grid;
    grid-template-rows: 1fr 20vh 10vh;

    h1 {
      color: rgb(224, 224, 224);
      z-index: 3;
      grid-row: 1/2;
      font-size: 30px;
      letter-spacing: 2px;
    }

    h3 {
      margin-top: 10px;
      color: rgb(253, 253, 253);
      grid-row: 1/2;
    }

    .heroText {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .arrowBTNContainer {
      font-size: 35px;
      grid-row: 3/4;
      color: white;
    }

    .left-arrow {
      position: absolute;
      z-index: 3;
      user-select: none;
    }

    .right-arrow {
      position: absolute;
      z-index: 3;
      margin-left: 50px;

      user-select: none;
    }

    .miniSlide {
      grid-row: 2/3;
      width: 40vw;
      height: 20vh;
      padding: 0;
      margin: 0;
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;

      .miniImg {
        height: 75%;
        width: 12vw;
        margin-left: 10px;
        filter: opacity(45%);
      }
      .miniImg.active {
        filter: opacity(100%);
        width: 13vw;
        height: 78%;
      }
    }
  }
}

.caroImg {
  width: 100vw;
  height: 100vh;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  padding: 0, 20vw;
  margin-top: 120px;
}

.infoList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;

  li {
    margin-left: 40px;
  }

  li.active {
    color: $Dark-green;
    border-bottom: 2px solid $Main-Orange;
  }
}

.locInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  justify-self: center;
  align-self: center;

  p {
    font-family: "Merriweather", serif;
    font-weight: 200;
    text-align: center;
    width: 50vw;
  }
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
}

.singleSlide {
  display: none;
}

.picLogo {
  display: none;
  width: 30%;
  height: 80%;
}

.singleSlide.active {
  display: inline;
}

.wrapperGalImg {
  max-width: 70rem;
  margin: 4rem auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 300px;
}

.locGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greenLine {
  margin-top: 10px;
}

/* .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: "Merriweather", serif;
    font-weight: 200;
    width: 30vw;
    margin-right: 5vw;
  }
} */
