.homeHeader {
  /* background: linear-gradient(
    -45deg,
    $Dark-green2,
    $Main-green,
    #1eb8b0,
    #1d885b
  ); */
  /*  background: linear-gradient(-45deg, #80ff72, #7ee8fa, #fb7ba2, #fce043); */
  background: linear-gradient(
    -45deg,
    #96e4df,
    #4dccc6,
    #ffac81,
    #77eed8,
    #96a5e6
  );
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 50% 50%;
  background-size: 400%, 400%;
  position: relative;
  height: 75vh;
  animation: change 10s ease-in-out infinite;

  .heroBox {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6vw;
  }

  .logo {
    margin-bottom: 20px;

    width: 120px;
    height: 120px;
  }
  .headerSVG {
    grid-row: 2/3;
    grid-column: 2/3;
    float: right;
    margin-left: auto;
    width: 30vw;
    height: 50vh;
    align-self: flex-end;
  }

  .titleName {
    margin-bottom: 10px;
    font-size: 180%;
    color: white;
  }

  .heroDesc {
    margin-bottom: 10px;
  }

  .headerBTNContainer {
    margin-bottom: 80px;
    font-size: 120%;
  }

  .exploreBTN {
    background-color: #f5f5f56b;
    width: 14vw;
    height: 6vh;
    color: white;
    font-weight: bold;
    border-color: #f5f5f5d3;
    border-style: solid;
    margin-right: 10px;
  }
  .exploreBTN:hover {
    background-color: $Main-Orange;
    border-color: $Main-Orange;
    color: $Dark-green;
  }

  .actionBTN {
    background-color: #c56f5000;
    color: white;

    font-weight: bold;
    width: 14vw;
    border-style: solid;
    height: 6vh;
    border-color: white;
  }
  .actionBTN:hover {
    background-color: $Main-Orange;
    border-color: $Main-Orange;
    color: $Dark-green;
  }

  @keyframes change {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}
