@import "../navbar/navbar.scss";
@import "./header.scss";
@import "./whatIs.scss";
@import "./desSec.scss";
@import "./gallSec.scss";
@import "/src//styles//homePage/ending.scss";
@import "../footer/footer.scss";
.homePage {
  height: 100vh;
  scroll-snap-type: y proximity;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  /*  scroll-snap-type: mandatory; /* for older browsers */
  /* scroll-snap-points-y: repeat(100vh); */ /* for older browsers */

  section {
    scroll-snap-align: center;
  }
}

.orangeLine {
  background-color: #d3623a;
  padding: 0;

  height: 5px;
  width: 400px;
  margin-top: 10px;

  color: white;
}

/* .app {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  } */
