@import "./header.scss";
@import "./desSec.scss";

.homePage {
  height: 100vh;
  scroll-snap-type: y proximity;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  /*  scroll-snap-type: mandatory; /* for older browsers */
  /* scroll-snap-points-y: repeat(100vh); */ /* for older browsers */

  section {
    scroll-snap-align: center;
  }
}

/* .app {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  } */
.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
  grid-row: 1/2;
  grid-column: 2/3;
  float: right;
}
.navList li {
  margin-right: 20px;
  font-size: 25px;
}

.whatIsHome {
  height: 70vh;
  display: grid;
  grid-template-rows: 20vh 40vh;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  padding: 25px;
}

.whatIsHeader {
  grid-row: 1/2;
  grid-column: 1/2;
  color: #166756;
  font-size: 160%;
  align-self: end;
  font-family: "Merriweather", serif;
}

.orangeLine {
  background-color: #d3623a;
  padding: 0;
  margin: 0;
  height: 5px;
  width: 400px;
  margin-top: 30px;
  grid-row: 1/2;
  grid-column: 1/2;
  color: white;
  align-self: end;
}

.countersContainer {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userCounter {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.destinationsCounter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.whatIsPara {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
  grid-row: 2/3;
  grid-column: 1/2;
  font-weight: 400;
  color: black;
  margin-top: 40px;
}

.whatIsSVG {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 13vw;
}

.userCount {
  font-size: 20px;
  font-weight: bold;
  color: #5ddac0;
}

.desCount {
  font-size: 20px;
  color: #ed7f52;
  font-weight: bold;
}
